/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700;1,900&display=swap');*/

body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#fff3f1;
    background-image: url(../../img/fundo.png);
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-around;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

header ul li{
    position: relative;
    list-style: none;
    margin: 20px 40px;
}

header ul li a{
    position: relative;
    text-decoration: none;
    color:#DAA79F;
}

.logo{
    height: 100px;
    width: 100px;
    margin-top: -20px;
}

.slider{
    overflow: hidden;
    margin-top: 20px;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img{
    width: 20%;
    float: left;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%
    }
}

.slider img{
    width: 100%;
    height: 70vh;
}