*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: Arial, sans-serif;
}

header{
    background-color: #0B0708;
    color: #fff;
    padding: 10px 0;
}
.headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerLogo img{
    height: auto;
    width: 800px;
    margin-bottom: 30px;
}

nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 80px;
    border-radius: 10px;
}
nav ul li a:hover{
    background-color: #141313;
}
.headerSubject{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #141313;
}
.headerSubject h2{
    margin-top: 10px;
}

.noticeAutor{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.autorImage img{
    width: 80px;
    height: 80px;
}
.autorInfo{
    display: flex;
    flex-direction: column;
    margin: 0 0 100px 20px;
    gap: 10px;
}

.noticeMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 300px;
}
.noticeImage{
    width: 100vw;
    height: 500px;
    overflow: hidden; /* Esconde o excesso da imagem */
    position: relative;
}
.noticeImage img{
    width: 60vw;
    height: 500px;
    margin: 50px;
    object-fit: cover; /* Mantém a imagem proporcional e a corta se necessário */
}
.noticeTitle h1{
    font-size: 46px;
    text-align: center;
}
.noticeContent h3{
    font-size: 28px;
}
.noticeContent p{
    font-size: 24px;
}

.listageNotices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    gap: 20px;
}
.listageNoticeOne{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 820px;
    border-radius: 10px;
    transition: 0.4s;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.listageNoticeOneImg img{
    height: 250px;
    width: 300px; 
    border-radius: 10px;
}
.listageNoticeOneContent{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 600px;
    margin: 20px;
    gap: 20px;
}
.listageNoticeOneContentTitle a{
    color: #0B0708;
    text-decoration: none;
}
.listageNoticeTwoContentTitle a{
    color: #0B0708;
    text-decoration: none;
}
.listageNoticeThreeContentTitle a{
    color: #0B0708;
    text-decoration: none;
}
.listageNoticeOne:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.listageNoticeOne h3:hover{
    cursor: pointer;    
    text-decoration: underline;
}

.listageNoticeTwo{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 820px;
    border-radius: 10px;
    transition: 0.4s;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.listageNoticeTwoImg img{
    height: 250px;
    width: 300px; 
    border-radius: 10px;
}
.listageNoticeTwoContent{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 600px;
    margin: 20px;
    gap: 20px;
}
.listageNoticeTwo:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.listageNoticeTwo h3:hover{
    cursor: pointer;    
    text-decoration: underline;
}

.listageNoticeThree{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 820px;
    border-radius: 10px;
    transition: 0.4s;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.listageNoticeThreeImg img{
    height: 250px;
    width: 300px; 
    border-radius: 10px;
    
}
.listageNoticeThreeContent{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 600px;
    margin: 20px;
    gap: 20px;
}
.listageNoticeThree:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.listageNoticeThree h3:hover{
    cursor: pointer;    
    text-decoration: underline;
}

footer{
    background-color: #0B0708;
    color: #fff;
    padding: 10px 0;
    height: 140px;
}
.footerLogo img{
    height: 90px;
    margin: 10px
}
.footerInfos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.footerInfos ul{
    display: flex;
    flex-direction: row;
}
.footerInfos li{
    padding: 0 20px;
}
.footerInfos li:nth-child(1){
    border-right: 1px solid #fff;
}
.footerInfos li:nth-child(2){
    border-right: 1px solid #fff;
}
.footerInfos li:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 768px){
    header{
        height: 20%;
    }
    .headerLogo img{
        width: 80%;
    }
    header nav ul li a{
        font-size: 75%;
        padding: 0;
    }
    .noticeMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0;
    }
    .noticeAutor{
        margin-bottom: -10px;
    }
    .noticeTitle h1{
        margin-top: -50px;
        padding: 0;
        font-size: 20px;
    }
    .noticeImage img{
        display: flex;

        width: 95%;
        height: 500px;
        margin: 12px;
    }
    .noticeContent h2{
        padding: 20px;
        text-align: center;
    }
    .noticeContent h3{
        padding: 20px;
        text-align: center;
    }
    .noticeImage{
        padding: 0;
    }
    .noticeContent p{
        font-size: 20px;
        padding: 0px 20px 50px 20px;
    }
    .listageNotices{
        padding: 5%;
        width: 90%;
    }
    .listageNoticeOne{
        flex-direction: column;
        height: 520px;
        width: 400px;
    }
    .listageNoticeOneImg{
        width: 100%;
    }
    .listageNoticeOneImg img{
        width: 100%;
        height: 100%;
    }
    .listageNoticeOneContent{
        width: 380px;
        font-size: 80%;
    }
    .listageNoticeTwo{
        flex-direction: column;
        height: 540px;
        width: 400px;
    }
    .listageNoticeTwoImg{
        width: 100%;
    }
    .listageNoticeTwoImg img{
        width: 100%;
        height: 100%;
    }
    .listageNoticeTwoContent{
        width: 380px;
        font-size: 80%;
    }
    .listageNoticeThree{
        flex-direction: column;
        height: 500px;
        width: 400px;
    }
    .listageNoticeThreeImg{
        width: 100%;
    }
    .listageNoticeThreeImg img{
        width: 100%;
        height: 100%;
    }
    .listageNoticeThreeContent{
        width: 380px;
        font-size: 80%;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 50%;
    }
}


.noticeButton{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 10vh;

    margin-bottom: 50px;
}

.noticeButton button p{
    text-decoration: none;
    color: #fff;
}

.noticeButton button{
    width: 200px;
    height: 80px;

    border-radius: 6px;
    
    background-color: #0B0708;
}

.noticeButton button:hover{
    cursor: pointer;
    background-color: #1f1719;
}