<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Magazine Express</title>

            <link rel="stylesheet" href="./styles/viewmagazine.css">
            <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
        </head>
    <body>

        <section>
            <div class="backpage">
                <a href="../pages/f1.html"><button class="arrow back">&#10094;</button></a>
            </div>
            <div class="slider">
                <button class="arrow left" onclick="prevSlide()">&#10094;</button>
                <div class="slides">
                    <img src="../img/magazine/F1.jpg" alt="Imagem 1" class="slide">
                    <!-- Adicione mais imagens conforme necessário -->
                </div>
                <button class="arrow right" onclick="nextSlide()">&#10095;</button>
            </div>
        </section>

        <script src="./Scripts/script.js"></script>
    </body>
</html>   